.signup-container {
 border: 1px solid black;
 box-shadow: 2px 2px 2px 2px black;
 border-radius: 8px;


}

.signUp {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 4rem;
    background-color: #778BA5;
}

.input{
    margin: 0.5rem;
    background-color: 	#3a3b3c;
    color: white;
    height: 30px;
}
.signin-btn {
    padding: 0.5rem;
    background-color: #333399;
    color: white;
    border: none;
    border-radius: 8px;
}

.signin-btn:active {
    background-color: gray;
    color: #333399;
}

.alreadysigned{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    
    background-color: #333399;
    color: white;
    border: none;
    border-radius: 8px;
}

.gotologin {
    width: 60px;
    align-self: center;
    background-color: black;
    color: yellow;
    padding: 0.5rem;
    border-radius: 8px;
}
.gotologin:active {
    color: black;
    background-color: yellow;
}