<div class="list">
    <table>
      <thead>
        <th>Above 70</th>
        <th> between 50-70</th>
        <th> Less than 50</th>
      </thead>
      <tbody>
        <tr>
          <td> ABC
            <input type="number">
          </td>
          <td>PQR
            <input type="number">
          </td>
          <td>XYZ
            <input type="number">
          </td>
        </tr>
        <tr>
          <td> ABC
            <input type="number">
          </td>
          <td>PQR
            <input type="number">
          </td>
          <td>XYZ
            <input type="number">
          </td>
        </tr>
        <tr>
          <td> ABC
            <input type="number">
          </td>
          <td>PQR
            <input type="number">
          </td>
          <td>XYZ
            <input type="number">
          </td>
        </tr>
      </tbody>
    </table>
  </div>