<div class="card-container">
    <div class="rating-column">
        <div>"{{optionObject.ambience | number}}"</div>
    </div>
    
    <div class="rating-column">
         
        <div>"{{optionObject.cleanlines}}"</div>
    </div>
    
    <div class="rating-column">
       
        <div>"{{optionObject.service}}"</div>
    </div>
    
    <div class="rating-column">
           
        <div>"{{optionObject.food}}"</div>
    </div>

    <div class="rating-column">
           
        <div >0</div>
    </div>
           
       
</div>