td {
    border: thin solid black;
}
.green {
    background-color: green;
}
.amber {
    background-color: rgb(207, 195, 17);
}
.red {
    background-color: red;
}
.maroon {
    background-color: maroon;
}